@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Philosopher:wght@400;700');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.visually-hidden:not(:focus):not(:active) { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }

/* Fonts 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Philosopher', sans-serif;

/* General Styles */
html {
    font-size: 125%;
}
body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04rem;
}

.wrapper {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    padding-bottom: .5rem;
    margin-bottom: 1.25rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: border .2s ease-in-out;
    font-family: 'Philosopher', sans-serif;
}

h1:hover,
h1:focus {
    border-bottom: 3px solid #e4a076;
}

h2, 
h3,
input {
    color: #C9C9C9;
}

h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: .2rem;
}

p {
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.arrow {
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color:  #D1D7D5;
    transition: color .2s ease-in-out;
    padding: 10px 0;
}

a:hover,
a:focus {
    color: #e4a076;
}

li {
    list-style: none;
}
ul {
    padding-left: 0;
}

/* Header Main Styles  */
header {
        background-color: #F1F1F1;
        height: 100vh;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

header .arrow {
margin-top: 60px;
}

.blinking {
    animation: blinkingArrow 3s linear 3;
}

@keyframes blinkingArrow {
    0%,
    60% {
        color: #D1D7D5;
    }
    40% {
        color: #e4a076;
    }
}

/* About Section Styles*/
.aboutSection {
    position: relative;
    z-index: 0;
}
.about {
    max-width: 600px;
    color: #3D3D3D;
}

.backgroundShape {
    background: white;
    position: absolute;
    z-index: -1;
    width: 60vw;
    height: 300px;
    top: 20%;
    border-radius: 0 200px 200px 0 ;
}

/* Projects Section Styles  */
.projects {
    padding: 80px 0;
    font-size: .95rem;
}
.projectsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.projectsList img {
    border: 1px solid #F1F1F1;
}

.projectImage {
    width: 300px;
    height: 300px;
}

.projectLi {
    position: relative;
    cursor: pointer;
}
.hoverImage {
    background: rgba(209, 215, 213, 0.9);
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.hoverImage:hover,
.hoverImage:focus {
    opacity: 1;
}

.hoverImage p,
.hoverImage h4 {
    text-align: center;
    margin: 5px;
    color: #3D3D3D;
}

/* Individual Project Styles */
.individualProject {
    background-color:  #F1F1F1;
}

/* Footer Styles */
footer {
    background: #F1F1F1;
    padding: 100px 0;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 60px;
}

footer h2 {
    text-align: left;
    color: #e4a076;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Social Styles */
.social li {
    margin: 15px auto;
}

/* Form Styles */

input,
button {
    display: block;
    width: 100%;
    border: none;
    padding: 15px 20px;
    margin: 10px auto;
    letter-spacing: .06rem;
}
button {
    background: #C9C9C9;
    color: white;
    transition: all .2s ease-in-out;
}

button:hover,
button:focus {
    background: #D1D7D5;
    color: #3D3D3D;
}

input:focus {
    outline: 2px solid #e4a076;
}
